body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-items: center;
}

/* reset padding box-sizing en marge */

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    width: 300px;
}
 section {
     width: 300px;
     height: 300px;
     overflow: hidden;
     position: relative;
     cursor: pointer;
 }
h1 {
    grid-column: 1/-1;
}

article {
    margin-top: 0px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em 1em 1em 2em;
    font-size: .8em;
    height: 300px;
    overflow: auto;
   /* transition: margin-top .5s cubic-bezier(.25,1.01,.99,.43); */
   animation: HoverAnimationBack .5s linear forwards ;
  
}
article ul, article ol {
    padding-left: 1em;
}
section:hover article {
    margin-top: -304px;
    animation: HoverAnimation .5s linear forwards ;
}
span {
    float: right;
}


@keyframes HoverAnimation {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -304px;
    }
    45% {
        margin-top: -180px;
    }
    65% {
        margin-top: -304px;
    }
    85% {
        margin-top: -240px;
    }
    100% {
        margin-top: -304px;
    }
}

@-o-keyframes HoverAnimation {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -304px;
    }
    45% {
        margin-top: -180px;
    }
    65% {
        margin-top: -304px;
    }
    85% {
        margin-top: -240px;
    }
    100% {
        margin-top: -304px;
    }
}

@-moz-keyframes HoverAnimation {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -304px;
    }
    45% {
        margin-top: -180px;
    }
    65% {
        margin-top: -304px;
    }
    85% {
        margin-top: -240px;
    }
    100% {
        margin-top: -304px;
    }
}

@-ms-keyframes HoverAnimation {
    0% {
        margin-top: 0;
    }
    25% {
        margin-top: -304px;
    }
    45% {
        margin-top: -180px;
    }
    65% {
        margin-top: -304px;
    }
    85% {
        margin-top: -240px;
    }
    100% {
        margin-top: -304px;
    }
}

@keyframes HoverAnimationBack {
    0% {
        margin-top: -304px;
    }
    25% {
        margin-top: -0px;
    }
    45% {
        margin-top: -120px;
    }
    65% {
        margin-top: -0px;
    }
    85% {
        margin-top: -60px;
    }
    100% {
        margin-top: -0px;
    }
}

@-o-keyframes HoverAnimationBack {
    0% {
        margin-top: -304px;
    }
    25% {
        margin-top: -0px;
    }
    45% {
        margin-top: -120px;
    }
    65% {
        margin-top: -0px;
    }
    85% {
        margin-top: -60px;
    }
    100% {
        margin-top: -0px;
    }
}

@-moz-keyframes HoverAnimationBack {
    0% {
        margin-top: -304px;
    }
    25% {
        margin-top: -0px;
    }
    45% {
        margin-top: -120px;
    }
    65% {
        margin-top: -0px;
    }
    85% {
        margin-top: -60px;
    }
    100% {
        margin-top: -0px;
    }
}

@-webkit-keyframes HoverAnimationBack {
    0% {
        margin-top: -304px;
    }
    25% {
        margin-top: -0px;
    }
    45% {
        margin-top: -120px;
    }
    65% {
        margin-top: -0px;
    }
    85% {
        margin-top: -60px;
    }
    100% {
        margin-top: -0px;
    }
}